/*button*/
.btn--success {
  font-weight: 600;
  margin: 0 auto;
  display: flex;
}

.btn--outline-primary {
  margin-right: 25px;
}

/*header*/
.header .btn--success {
  margin-right: 17px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

/*media*/
@media (max-width: 576px) {
  .section--price .title {
    font-size: 36px;
  }
}

/*clients*/
.section--clients {
  padding: 119px 0px 126px;
}

.section--clients .container {
  max-width: 850px;
}

.section--clients .title {
  text-align: center;
  margin-bottom: 68px;
}

.clients__logo {
  display: flex;
  justify-content: space-between;
}


/*media*/
@media (max-width: 576px) {}

@media (min-width: 1200px) {}

/*choose*/
.section--choose {
  background: #F5F5F5;
  padding: 24px 15px 68px;
}

.section--choose .title {
  text-align: center;
  margin-bottom: 51px;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  letter-spacing: 0.01em;
}

.choose__table {
  display: flex;
  justify-content: space-between;
}

.choose__table_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
}

.section--choose .subtitule {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.4px;
  margin-bottom: 16px;
}

.section--choose .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 0px 37px 31px 37px;
}

.table_item--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
  width: 51px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 31px 0px 32px;
}


.choose__table_item:nth-of-type(1) .table_item--icon {
  background: #02897A;
}

.choose__table_item:nth-of-type(2) .table_item--icon {
  background: #4D8DFF;
}

.choose__table_item:nth-of-type(3) .table_item--icon {
  background: #F03E3D;
}

/*how*/
.section--how {
  padding: 101px 15px 50px;
}

.section--how .container {
  max-width: 1027px;
}

.section--how .title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  margin-bottom: 73px;
}

.how__row {
  margin-bottom: 71px;
}

.how__row_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.how__row_item:nth-of-type(2) {
  flex-direction: row-reverse;
}

.how__row_item:nth-of-type(1) {
  margin-bottom: 93px;
}

.how__row_item:nth-of-type(2) {
  margin-bottom: 97px;
}

.how__row_item_right {
  max-width: 432px;
}

.subtitle--small {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  margin: 16px 0px 16px 0px;
}

.section--how .title--small {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  margin: 0px 0px 16px 0px;
}

.section--how .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.btn--success {
  padding: 11px 18px 8px 20px;
  letter-spacing: 0.1em;
}

/*offers*/
.section--offers {
  padding: 50px 15px 50px;
}

.section--offers .title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  max-width: 537px;
  margin: auto;
  margin-bottom: 93px;
}

.offers__table {
  display: flex;
  justify-content: space-evenly;
}

.offers__table_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers__table_item--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background: #FFEFEF;
}

.offers__table_item:nth-of-type() .offers__table_item--icon {
  background: #FFEFEF;
}

.offers__table_item:nth-of-type(2) .offers__table_item--icon {
  background: #F2F6FF;
}

/*footer*/
.footer {
  padding: 41px 0px 0px;
}

.footer .container {
  margin-bottom: 24px;
}

.footer__deal {
  margin-bottom: 0px;
}

.footer .btn--success {
  margin: auto;
}

@media (max-width: 576px) {
  .footer .btn--success {
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 121px 0px 50px;
  }

  .footer .btn--success {
    margin: 0;
  }
}