/*основные стили*/
.light {
  --bg: #ffffff;
  --color-text: #22343d;
  --color-btn: #173a56;
  --color-logo: #173a56;
  --bg-image--product: url(../img/product.png);
  --bg-image--process: url(../img/process.png);
  --border: #dedede;
  --btn--triger-bg:url(../svg/triger.svg);
}

.dark {
  --bg: #1f2e35;
  --color-text: #ffffff;
  --color-btn: #ffffff;
  --color-logo: #ffffff;
  --bg-image--product: url(../img/product_dark.png);
  --bg-image--process: url(../img/process_dark.png);
  --border: #173a56;
  --btn--triger-bg:url(../svg/triger3.svg);
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

html,
body {
  font-family: "Poppins", "Arial", sans-serif;
  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0%;
}

.container {
  max-width: 1108px;
  margin: 0 auto;
  padding: 0px 15px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: var(--color-text);
}

.subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: var(--color-text);
}

.space--bottom-12 {
  margin-bottom: 12px;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text);
}

/*button*/
.btn {
  cursor: pointer;
}

.btn--success {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #02897a;
  border-radius: 4px;
  border: #02897a;
  margin-right: 24px;
  padding: 11px 23px 8px 25px;
  letter-spacing: 0.02em;
}

.btn--success:hover {
  background-color: #067266;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.btn--outline {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  border: none;
  background-color: transparent;
}
.btn--outline:hover {
  background-color: #f1f0ee;
}
.btn--light {
  border: none;
  background-color: transparent;
  margin: auto;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.btn--triger {
  background: #f3f3f3;
  border-radius: 100px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../svg/triger.svg) no-repeat;
  background-size: contain;
  border: 5px solid #f3f3f3;
  margin-right: 10px;
}

.btn--outline.btn--primary {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-btn);
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: transparent;
  margin-right: 24px;
  padding: 9px 22px 8px 23px;
  letter-spacing: 0.02em;
  display: none;
}

.btn--outline.btn--primary:hover {
  background-color: #fefefe;
  color: #067266;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn--outline.btn--success {
  background-color: transparent;
  border: transparent;
  font-weight: 600;
  font-size: 16px;
  text-decoration-line: underline;
  color: #02897a;
}

.btn--outline.btn--success:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.btn--outline.btn--success:hover img {
  filter: brightness(0) saturate(100%) invert(34%) sepia(10%) saturate(4720%)
    hue-rotate(130deg) brightness(96%) contrast(95%);
}

.btn-lg {
  padding: 17px 0px 12px 0px;
}

.btn--group {
  display: flex;
  justify-content: center;
}

.w-174 {
  width: 174px;
}
.btn--with-icon {
  padding: 3px 0px 0px 0px;
  display: flex;
}
/*Header*/
.header {
  padding: 19px 0px 0px;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0px 16px 0px 0px;
}

.header .logo__name {
  font-family: "Poppins Bold";
  font-size: 30px;
  line-height: 28px;
  color: var(--color-logo);
  text-decoration: none;
  padding-bottom: 4px;
  margin: 0;
}

.header .menu {
  display: none;
}

.menu__item.menu__item--active {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
}

.menu__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  color: var(--color-text);
}

.menu__item:not(:last-child) {
  margin-right: 26px;
}

.menu__item:hover:after {
  width: 100%;
  left: 0;
}

.menu__item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.menu__item:hover {
  font-weight: 700;
  filter: brightness(0) saturate(100%) invert(31%) sepia(77%) saturate(487%)
    hue-rotate(124deg) brightness(95%) contrast(97%);
}

.header__right {
  display: flex;
  align-items: center;
}

.header .btn--outline-primary {
  display: none;
}

.header .btn--success {
  display: none;
}

.toggle-container {
  display: none;
}

.header .menu__trigger--active {
  position: relative;
  width: 28px;
  height: 15px;
  top: -4px;
  display: block;
}

.header span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-text);
  border-radius: 4px;
}

.header .menu__trigger span:nth-of-type(2) {
  top: 20px;
}

.header .menu__trigger span:nth-of-type(3) {
  bottom: 1px;
}

/*media header*/
@media (max-width: 576px) {
  .header .logo__name {
    margin: 0;
  }
}

@media (min-width: 576px) {
  .btn--outline.btn--primary {
    display: block;
  }
  .header .btn--success {
    display: block;
  }
}

@media (min-width: 1200px) {
  .header .logo__name {
    margin-right: 238px;
  }

  .header .menu {
    display: block;
  }

  .header .btn--triger {
    display: flex;
  }

  .toggle-container {
    display: block;
  }

  .btn--triger {
    margin-right: -2px;
  }

  .header .menu__trigger--active {
    display: none;
  }
}

@media (min-width: 1400px) {
}

/*Hero*/
.section--hero .container {
  display: flex;
  max-width: 1080px;
  align-items: center;
  flex-direction: column-reverse;
}

.section--hero {
  padding: 44px 0px 0px 0px;
}

.hero__left {
  display: flex;
  flex-direction: column;
}

.section--hero .title {
  margin: 19px 0px 0px;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: inherit;
}

.section--hero .description {
  margin-bottom: 50px;
  text-align: center;
}

.btn--group {
  flex-direction: column;
  align-items: center;
}

.section--hero .btn--success {
  margin: 0px 0px 30px 0px;
}

.section--hero .btn-outline-success {
  display: flex;
  align-items: center;
}

.btn-outline-success img {
  margin-right: 8px;
}
.btn--with-icon img {
  margin-right: 9px;
}
.btn--with-icon span {
  /* TODO: ширина и высота кнопки не должна регулироваться паддингами высота зависит от модификатора а ширина от содержимого либо от свойства width */
  /*  padding: 18px 15px 13px 5px;*/
  letter-spacing: 0.02em;
  font-size: 16px;
}

.hero__right {
  position: relative;
}

/*media hero*/
@media (max-width: 576px) {
  .section--hero .title {
    text-align: center;
    font-size: 36px;
  }

  .section--hero .description {
    text-align: center;
  }

  .hero__right {
    left: 0;
  }
}

@media (min-width: 576px) {
  .section--hero .description {
    width: 550px;
  }

  .btn--group {
    flex-direction: row;
    align-items: center;
  }

  .section--hero .btn--success {
    margin: 0px 22px 0px;
  }
}

@media (min-width: 768px) {
  .section--hero .description {
    width: 610px;
  }
}

@media (min-width: 1200px) {
  .section--hero {
    padding: 39px 0px 0px 0px;
  }

  .section--hero .container {
    align-items: center;
    flex-direction: row;
  }

  .hero__left {
    width: 435px;
  }

  .section--hero .description {
    text-align: left;
    width: auto;
    margin: 17px 0px 56px 0px;
  }

  .section--hero .title {
    text-align: left;
    line-height: 60px;
  }

  .btn--group {
    justify-content: flex-start;
  }

  .section--hero .btn--success {
    margin: 0 30px 0 0;
  }

  .hero__right {
    position: relative;
    left: 55px;
    top: 4px;
  }

  .pic {
    max-width: 100%;
  }
}

/*product*/

.section--product {
  background: var(--bg-image--product) bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 44px 0px 17px 0px;
}

.section--product .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section--product .title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  width: 534px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px 0px 67px 0px;
}

.list {
  display: flex;
  margin-bottom: 18px;
  width: 100%;
}

.section--product .list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 248px;
}

.section--product .list__item:not(:last-child) {
  margin-right: 46px;
}

.section--product .list__item:nth-of-type(1) .item__icon-left {
  background: #02897a;
}

.section--product .list__item:nth-of-type(2) .item__icon-left {
  background: #4d8dff;
}

.section--product .list__item:nth-of-type(3) .item__icon-left {
  background: #740a76;
}

.section--product .list__item:nth-of-type(4) .item__icon-left {
  background: #f03e3d;
}

.item__icon-left {
  border-radius: 19px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 30px;
}

.section--product .subtitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.02em;
  margin-bottom: -2px;
}

.section--product .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.01em;
}

.section--product .btn--success {
  padding: 14px 34px 15px 34px;
  margin: auto;
}

/*media product*/

@media (max-width: 576px) {
  .section--product .title {
    width: auto;
  }

  .list {
    flex-direction: column;
    align-items: center;
  }

  .section--product .list__item {
    margin: 0;
    align-items: center;
  }

  .section--product .list__item:not(:last-child) {
    margin: 0;
    align-items: center;
  }
}

@media (min-width: 576px) {
  .list {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .section--product .list__item:not(:last-child) {
    align-items: center;
    margin: 0 0 20px 0;
  }
}

@media (min-width: 768px) {
  .section--product .list__item:nth-of-type(3) {
    display: flex;
  }
}

@media (min-width: 992px) {
  .section--product .list__item {
    margin: 0;
    align-items: center;
  }

  .section--product .list__item:nth-of-type(4) {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .section--product {
    padding: 113px 0px 97px 0px;
  }

  .list {
    justify-content: space-between;
  }

  .section--product .list__item,
  .section--product .list__item:not(:last-child) {
    align-items: flex-start;
  }

  .list__item-left,
  .list__item-left:not(:last-child) {
    align-items: start;
  }

  .section--product .description {
    text-align: left;
  }
}

/*managment*/
.section--managment .container {
  display: flex;
  flex-direction: column-reverse;
}

.man__left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.section--managment .title {
  font-family: "Poppins";
  font-size: 32px;
  line-height: 48px;
  margin: 0px 0px 24px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.section--managment .subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.section--managment .subtitle--small {
  margin: 0px 0px 7px;
}

.section--managment .description {
  font-size: 16px;
  line-height: 26px;
  margin: 0px 0px 32px;
  text-align: left;
}

.section--managment .description:nth-of-type(2) {
  margin-bottom: 27px;
}

/*mdeia managment*/
@media (max-width: 576px) {
  .section--managment {
    padding: 20px 0px 0px;
  }

  .man__left {
    width: auto;
  }

  .man__right {
    left: 0;
    top: 0;
    margin-bottom: 20px;
  }
  .pic {
    margin: 0 auto;
    display: flex;
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .man__right {
    padding: 20px 0px 20px 0px;
  }
  .section--managment .pic {
    max-width: 25em;
  }

  .man__right,
  .customer__left,
  .coll__right {
    margin: auto;
  }
}

@media (min-width: 768px) {
  .man__left {
    width: 459px;
    align-items: center;
    margin: auto;
  }

  .section--managment .description {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .section--managment {
    padding: 161px 0px 0px 0px;
  }

  .section--managment .container {
    flex-direction: row;
  }

  .man__left {
    align-items: start;
    margin: 0;
  }
  .section--managment .description {
    text-align: left;
  }
  .man__right {
    position: relative;
    left: 111px;
    top: -20px;
    padding: 0;
    margin: 0;
  }

  .section--managment .pic {
    max-width: 100%;
  }
}
/*customer*/
.section--customer .container {
  display: flex;
  flex-direction: column;
}

.customer__right {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.section--customer .title {
  font-size: 32px;
  line-height: 48px;
  margin: 0px 0px 24px;
  letter-spacing: 0.02em;
}

.section--customer .subtitle--small {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 6px;
  letter-spacing: 0.01em;
}

.section--customer .description {
  margin: 0px 0px 31px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.customer__item {
  display: flex;
  align-items: center;
}

.customer__wraper .customer__item:nth-of-type(1) {
  margin: 0px 0px 34px 0px;
}

.customer__wraper .customer__item:nth-of-type(2) {
  margin: 0px 0px 34px 0px;
}

.customer__icon {
  width: 16px;
  height: 12px;
  border-radius: 13.8542px;
  padding: 12px 10px 13px 10px;
  margin-right: 29px;
}

.customer__item:nth-of-type(1) .customer__icon {
  background: #ff9900;
}

.customer__item:nth-of-type(2) .customer__icon {
  background: #f03e3d;
}

.customer__item:nth-of-type(3) .customer__icon {
  background: #4d8dff;
}

.customer__description {
  margin: 0;
  line-height: 24px;
  color: var(--color-text);
}

/*mdeia customer*/
@media (max-width: 576px) {
  .section--customer {
    padding: 0px;
  }

  .customer__left {
    left: 0;
    top: 0;
    margin: 0px 0px 20px;
  }
}

@media (min-width: 576px) {
  .section--customer .pic {
    max-width: 25em;
  }
}
@media (min-width: 768px) {
  .customer--pic {
    margin-bottom: 40px;
  }

  .customer__right {
    width: 442px;
    align-items: center;
    margin: auto;
  }

  .section--customer .description {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .section--customer {
    padding: 162px 0px 0px 0px;
  }

  .section--customer .container {
    flex-direction: row;
  }

  .customer__left {
    position: relative;
    top: -38px;
    left: -4px;
    margin: 0;
    margin-right: 91px;
  }

  .customer__pic {
    margin-bottom: 0px;
  }
  .section--customer .pic {
    max-width: 100%;
  }
  .customer__right {
    align-items: start;
    margin: 0;
    max-width: 442px;
  }

  .section--customer .description {
    text-align: left;
  }
}

/*collaborative*/
.section--collaborative {
  padding: 20px 0px 0px;
}

.section--collaborative .container {
  display: flex;
  flex-direction: column-reverse;
}

.coll__left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.section--collaborative .title {
  font-family: "Poppins";
  font-size: 32px;
  line-height: 48px;
  margin: 0px 0px 24px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.section--collaborative .subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.section--collaborative .subtitle--small {
  margin: 0px 0px 6px;
}

.section--collaborative .description {
  font-size: 16px;
  line-height: 26px;
  margin: 0px 0px 29px;
}

/*media collaborative*/
@media (max-width: 576px) {
  .coll__left {
    width: auto;
  }

  .coll__right {
    left: 0;
    top: 0;
    margin-bottom: 20px;
  }

  .section--collaborative {
    padding: 30px 0px 0px;
  }
}

@media (min-width: 576px) {
  .section--collaborative .pic {
    max-width: 25em;
  }
}

@media (min-width: 768px) {
  .section--collaborative {
    padding: 40px 0px 0px;
  }

  .coll__left {
    align-items: center;
    margin: auto;
    width: 459px;
  }

  .coll__right {
    margin-bottom: 20px;
  }

  .section--collaborative .description {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .section--collaborative {
    padding: 89px 0px 130px 0px;
  }

  .section--collaborative .container {
    flex-direction: row;
  }

  .coll__left {
    margin: 0;
    align-items: start;
    width: 459px;
  }

  .section--collaborative .description {
    text-align: left;
  }

  .coll__right {
    position: relative;
    left: 111px;
    top: -21px;
    margin: 0;
  }
  .section--collaborative .pic {
    max-width: 100%;
  }
}

/*process*/
.section--process {
  background: var(--bg-image--process) no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 47px 0px 63px;
}

.section--process .container {
  display: flex;
  flex-direction: column;
  max-width: 963px;
}

.process__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
}

.section--process .title {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.02em;
  margin-bottom: 17px;
}

.section--process .description {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 542px;
  letter-spacing: 0.01em;
  margin: auto;
  margin-bottom: 14px;
}

.process__row {
  margin-bottom: 47px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.expert {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.expert:nth-of-type(1) .exp__pic {
  margin-right: 15px;
}

.expert:nth-of-type(2) .exp__pic {
  margin-left: 15px;
}

.expert:nth-of-type(3) .exp__pic {
  margin-left: 15px;
}

.expert:nth-of-type(4) .exp__pic {
  margin-right: 15px;
}

.ability {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(86, 117, 146, 0.1);
  border-radius: 27px;
  padding: 15px 25px 15px 25px;
}

.section--process .btn--success {
  font-weight: 700;
  margin: auto;
  padding: 15px 28px 13px 29px;
}

/*media process*/
@media (min-width: 576px) {
  .ability:after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #fff;
    bottom: 21px;
    left: 147px;
    background: #ffffff;
  }

  .ability:before {
    position: absolute;
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid #fff;
    bottom: 13px;
    left: 140px;
    background: #ffffff;
  }

  .ability-reverse:after {
    left: auto;
    right: 167px;
  }

  .ability-reverse:before {
    left: auto;
    right: 148px;
  }
}

@media (max-width: 768px) {
  .section--process .description {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .expert:nth-of-type(1),
  .expert:nth-of-type(2) {
    margin-bottom: 20px;
  }
}

/*strategies*/
.section--strategies .title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  letter-spacing: 0.02em;
  margin-bottom: 11px;
}

.section--strategies .description {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 0px 0px 30px 0px;
  letter-spacing: 0.01em;
}

.strat__left {
  text-align: center;
}

.strat__right {
  width: 100%;
}

.slider__slide {
  margin-bottom: 20px;
}

.section--strategies .description-autor {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 21px 30px 12px 24px;
  letter-spacing: 0.03em;
  color: #22343d;
}

.section--strategies .content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.profile {
  text-decoration: none;
  border: 1px solid #dedede;
  border-radius: 8px;
  margin: auto;
}

.profile:not(:last-child) {
  margin-bottom: 20px;
}

.profile:hover .comment {
  color: #02897a;
}

.content--icon {
  max-width: 100%;
}

.profile__item {
  max-width: 348px;
}

.comment {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  margin: 0px 30px 28px 26px;
  letter-spacing: 0.02em;
  color: #22343d;
}

.section--strategies .slider__nav-left {
  justify-content: center;
  display: none;
}

.slider__nav-item {
  width: 16px;
  height: 16px;
  background: #efefef;
  border-radius: 50%;
  border: transparent;
}

.slider__nav-item:hover {
  background: #02897a;
  cursor: pointer;
}

.slider__nav-item:not(:last-child) {
  margin-right: 10px;
}

.slider__nav-left:hover {
  cursor: pointer;
}

/*strategies*/
@media (max-width: 576px) {
  .section--strategies {
    padding: 0px 0px 25px 0px;
  }

  .section--strategies .container {
    width: auto;
  }

  .slider__item-content {
    display: flex;
    justify-content: center;
  }

  .profile__item {
    width: auto;
  }

  .profile__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .content {
    justify-content: center;
  }

  .section--strategies .slider__nav-left {
    display: flex;
  }

  .section--strategies .profile:nth-of-type(2),
  .section--strategies .profile:nth-of-type(3) {
    display: none;
  }
}

@media (min-width: 992px) {
  .profile:last-child {
    margin-bottom: 20px;
  }
  .section--strategies .content {
    flex-direction: row;
  }
  .section--strategies .profile:nth-of-type(2) {
    display: block;
  }
}

@media (min-width: 1200px) {
  .section--strategies {
    padding: 86px 0px 18px 0px;
  }

  .section--strategies .container {
    width: 1110px;
  }

  .strat__left {
    text-align: left;
  }

  .slider__slide {
    margin-bottom: 65px;
  }

  .section--strategies .content {
    flex-direction: row;
    justify-content: space-between;
  }

  .profile {
    margin: 0;
  }

  .section--strategies .profile:nth-of-type(2),
  .section--strategies .profile:nth-of-type(3) {
    display: flex;
  }

  .profile:last-child {
    margin-bottom: 0px;
  }

  .profile:not(:last-child) {
    margin-bottom: 0px;
  }

  .profile__item:first-child {
    margin-right: 0;
  }

  .profile__item:nth-of-type(3) {
    display: block;
  }

  .slider__nav-left {
    display: flex;
  }
}

/*price*/
.section--price .container {
  display: flex;
  flex-direction: column;
}

.section--price .title {
  font-size: 34px;
  line-height: 51px;
  margin-bottom: 8px;
  text-align: center;
}

.section--price .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 49px;
}

.price__table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__table-col {
  padding: 24px 0px 32px 0px;
  max-width: 323px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__table-col:hover {
  background-color: #02897a;
  cursor: pointer;
  color: #fff;
}

.price__table-col:hover .price__icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7467%)
    hue-rotate(292deg) brightness(101%) contrast(99%);
}

.price__table-col:hover .price__money {
  color: #fff;
}

.price__table-col:hover .btn--success {
  background-color: #fff;
  color: #02897a;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.table-col-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 8px;
}

.table-col-description {
  margin: 0px 50px 36px;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}

.price__information {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.price__money {
  color: #02897a;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.price__month {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #afafaf;
}

.price__icon {
  margin-right: 10px;
}

.price__wraper {
  margin-bottom: 40px;
  text-align: center;
  padding: 0;
}

.price__item:not(:last-child) {
  margin: 0px 0px 17px;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  list-style: none;
}

.price__item {
  list-style: none;
}

.section--price .btn--success {
  padding: 11px 20px 10px 17px;
  margin: 0;
  letter-spacing: 0.04em;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

/*media price*/
@media (max-width: 576px) {
  .section--price {
    padding: 0px;
  }

  .section--price .title {
    font-size: 36px;
  }

  .price__table {
    margin: auto;
  }

  .price__table-col {
    width: auto;
  }

  .price__table-col:not(:last-child) {
    margin-bottom: 20px;
  }

  .section--price .description {
    margin: 0px 50px 15px;
    text-align: center;
  }
}

@media (min-width: 576px) {
  .section--price {
    padding: 20px 0px 0px;
  }
  .price__table {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .price__table-col:not(:last-child) {
    margin-bottom: 20px;
  }
  .price__table-col {
    max-width: 323px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .price__table-col:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  .section--price {
    padding: 132px 0px 50px;
  }

  .price__table {
    flex-direction: row;
    justify-content: space-between;
  }

  .price__table-col {
    margin: 0;
  }

  .price__table-col:not(:last-child) {
    margin-bottom: 0px;
  }

  /*  .price__table-col:nth-of-type(3) {
    display: flex;
  }*/
}

/*say*/
.section--say {
  padding: 50px 0px 20px;
}

.say__header {
  text-align: center;
}

.section--say .title {
  font-size: 34px;
  line-height: 57px;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
}

.section--say .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.3px;
  margin: 0 auto 50px;
}

.say__row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.collumn__item {
  max-width: 300px;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 28px 0px 20px 25px;
  background: #ffffff;
}

.collumn__item:not(:last-child) {
  margin-bottom: 20px;
}

.section--say .item__icon {
  margin-bottom: 10px;
}

.item__description {
  margin-bottom: 15px;
}

.section--say .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 16px;
  text-decoration: none;
  cursor: auto;
}

.client {
  display: flex;
}

.client__logo {
  margin-right: 12px;
}

.name {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: #02897a;
}

.profession {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

/*media say*/
@media (max-width: 576px) {
  .collumn__item {
    margin: auto;
    width: auto;
  }
}
@media (min-width: 768px) {
  .say__row {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  .collumn__item:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .section--say {
    padding: 0px 0px 20px;
  }

  .section--say .subtitle {
    width: 565px;
  }

  .say__row {
    margin: 0;
    justify-content: space-between;
    flex-direction: row;
  }

  .collumn__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media (min-width: 1400px) {
  .section--say {
    padding: 100px 0px 15px;
  }

  .collumn__item:not(:last-child) {
    margin-right: 0px;
  }
}

/*join*/
.section--join {
  padding: 61px 15px 20px;
}

.section--join .container {
  display: flex;
  background: #02897a;
  border-radius: 32px;
  max-width: 940px;
  margin: 0 auto;
  flex-direction: column;
}

.join__left {
  width: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 51px 0px 56px 0px;
}

.section--join .title {
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #ffffff;
  margin-bottom: 46px;
  letter-spacing: 0.02em;
}

.section--join .btn--success {
  background: #ffffff;
  border-radius: 8px;
  font-size: 20px;
  line-height: 30px;
  color: #02897a;
  margin: 0;
  padding: 12px 35px 9px 30px;
}

.section--join .btn--success:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.join--pic {
  position: relative;
  left: 10px;
}

/*media join*/
@media (max-width: 576px) {
  .section--join .title {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .join__right {
    display: flex;
    justify-content: center;
  }

  .join__pic {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .section--join {
    padding: 141px 0px 27px;
  }

  .section--join .container {
    flex-direction: row;
    width: 968px;
  }

  .join__left {
    padding: 51px 0px 56px 39px;
    width: 510px;
    align-items: start;
    text-align: left;
  }

  .join__pic {
    position: relative;
    top: 2px;
    left: 10px;
    width: auto;
  }
}

/*footer*/
.footer {
  padding: 41px 0px 50px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__left {
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px;
}

.footer .logo {
  margin: -2px 12px 0px 0px;
}

.footer .logo__name {
  font-family: "Poppins Bold";
  font-size: 30px;
  line-height: 28px;
  color: var(--color-logo);
  text-decoration: none;
  margin: 0;
  padding-top: 2px;
}

.logo__icon {
  width: 32px;
  height: 32px;
  margin-left: 8px;
}

.product {
  display: flex;
  margin-bottom: 20px;
}

.socials {
  display: flex;
  align-items: center;
}

.social {
  background: #edfffc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  margin-left: 7px;
}

.social:not(:last-child) {
  margin-right: 9px;
}

.social:hover {
  background-color: #02897a;
}

.social:hover .social__icon {
  filter: brightness(0) saturate(100%) invert(96%) sepia(4%) saturate(0%)
    hue-rotate(325deg) brightness(105%) contrast(104%);
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 20px;
}

.footer__nav-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav-col:not(:last-child) {
  margin: 0 auto 20px;
}

.menu--footer-subtitle {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.menu--footer {
  margin-bottom: 10px;
}

.footer .menu__item {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
}

.footer .menu__item--active {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.footer__deal {
  margin: 0 auto 44px;
  text-align: center;
}

.footer .subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 32px;
}

.form__deal {
  outline: none;
  margin-bottom: 20px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.footer .e-mail {
  padding: 12px 22px 15px 15px;
  margin: 0;
  outline: none;
}

.footer .btn--success {
  padding: 10px 13px 7px 15px;
  margin: 0;
}

.footer .subtitle--copyright {
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.01em;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  color: var(--color-text);
}

/*media footer*/
@media (min-width: 1200px) {
  .footer {
    padding: 121px 0px 50px;
  }

  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 16px;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    margin: 0px 83px 0px 0px;
  }

  .footer__nav {
    display: flex;
    flex-direction: row;
    width: 386px;
    margin: 0px 9px 0px;
  }

  .footer__nav-col {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__nav-col:not(:last-child) {
    margin: 0px 155px 0px 0px;
  }

  .menu--footer-subtitle {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__deal {
    width: 325px;
    margin: 0px -9px 0px 0px;
    text-align: left;
  }

  .footer .subtitle {
    text-align: left;
  }

  .footer .e-mail {
    padding: 12px 102px 15px 15px;
  }
}

/*page Pricing*/
/*button*/
.section--pricing .btn--success {
  font-weight: 600;
  margin: 0 auto;
  display: flex;
}

.section--pricing .btn--outline-primary {
  margin-right: 25px;
}

/*media*/
/*pricing*/
.section--pricing {
  padding: 25px 0px 22px;
}

.section--pricing .subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 32px;
  letter-spacing: 0.02em;
}

.section--pricing .title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  margin: 0;
  letter-spacing: 0.01em;
}

.section--pricing .description {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 49px;
}

.section--pricing .price__information {
  margin-bottom: 39px;
}

.section--pricing .price__wraper {
  margin-bottom: 24px;
}

/*media*/
@media (max-width: 576px) {
  .section--pricing .title {
    margin-bottom: 15px;
  }

  .section--pricing .subtitle {
    margin-bottom: 11px;
  }
}

@media (min-width: 576px) {
  .section--pricing .slider__nav-left {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .section--pricing {
    padding: 68px 0px 153px;
  }

  .section--pricing .slider__nav {
    display: none;
  }
}

/*enterprice*/
.section--enterprice {
  padding: 50px 0px 0px 0px;
  background: linear-gradient(180deg, #f7f7f7 0%, rgba(247, 247, 247, 0) 100%);
}

.section--enterprice .subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.04em;
  margin-bottom: 17px;
}

.section--enterprice .title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0px 0px 7px 0px;
}

.section--enterprice .description {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 0px 0px 33px 0px;
  text-align: center;
}

.section--enterprice .btn--success {
  font-size: 18px;
  line-height: 22px;
  padding: 11px 18px 11px 19px;
  margin: auto;
  display: flex;
}

/*product-used*/
.section--product-used {
  padding: 42px 0px 0px 0px;
}

.used__top {
  margin-bottom: 55px;
}

.section--product-used .title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  letter-spacing: 0.013em;
}

.used__bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.used__bottom-left {
  margin-right: 0;
}

.used__bottom-right {
  max-width: 543px;
}

.used__bottom-pic {
  max-width: 100%;
}

.bottom-right-wraper {
  display: flex;
  flex-direction: column;
}

.wraper__item {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.items {
  width: 50px;
  height: 50px;
  background: #f4f5f7;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}

.section--product-used .subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
}

.section--product-used .item__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin: 0px 0px 30px 0px;
  letter-spacing: 0em;
}

/*media*/
@media (max-width: 576px) {
  .used__bottom-pic {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .section--product-used {
    padding: 202px 0px 0px 0px;
  }

  .used__bottom {
    flex-direction: row;
  }

  .used__bottom-left {
    position: relative;
    top: -7px;
    left: -11px;
    margin-right: 50px;
  }

  .used__bottom-pic {
    max-width: unset;
  }
}

/*question*/
.section--question {
  padding: 0px 0 20px 0;
}

.section--question .container {
  max-width: 950px;
}

.section--question .title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 9px;
}

.section--question .subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 49px;
}

.questions {
  position: relative;
  left: 15px;
}

.questions__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 0 19px 0;
}

.questions__item--active {
  padding-bottom: 22px;
}

.questions__item:hover {
  background-color: #f3f2f2;
  cursor: pointer;
}

.questions__item:nth-of-type(2) {
  padding-top: 15px;
}

.questions__item:nth-of-type(3) {
  padding-top: 16px;
}

.questions__item:nth-of-type(4) {
  padding-top: 16px;
}

.questions__icon-wraper {
  margin-right: 18px;
  align-self: baseline;
}

.questions__title {
  font-weight: 500;
  font-size: 18px;
}

.section--question .description {
  margin: 18px 0 0 0;
  position: relative;
  left: -40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.questions__content:nth-of-type(2) .questions__title {
  margin: 4px 0 9px 0;
}

/*media*/
@media (min-width: 1200px) {
  .section--question {
    padding: 118px 0 8px 0;
  }
}

/*page Customers*/
/*header*/
.header .menu-triger--active {
  position: relative;
  top: -7px;
}

/*media*/
@media (max-width: 576px) {
  .section--price .title {
    font-size: 36px;
  }
}

@media (min-width: 576px) {
  .header .menu-triger--active {
    position: relative;
    top: -4px;
  }
}

/*clients*/
.section--clients {
  padding: 35px 0px 25px;
}

.section--clients .container {
  max-width: 850px;
}

.section--clients .title {
  text-align: center;
  margin-bottom: 35px;
}

.clients__logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.clients__logo_item {
  margin: 15px;
}

/*media*/
@media (min-width: 1200px) {
  .section--clients {
    padding: 119px 0px 126px;
  }

  .section--clients .title {
    text-align: center;
    margin-bottom: 68px;
  }

  .clients__logo {
    align-items: unset;
    justify-content: space-around;
  }

  .clients__logo_item {
    margin: 0;
  }
}

/*choose*/
.section--choose {
  background: #f5f5f5;
  padding: 24px 0px 35px;
}

.section--choose .title {
  text-align: center;
  margin-bottom: 51px;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  letter-spacing: 0.01em;
}

.list__item-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  border: 1px solid #dedede;
  border-radius: 10px;
}

.list__item-center:not(:last-child) {
  margin-bottom: 20px;
}

.section--choose .subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.4px;
  margin-bottom: 16px;
}

.section--choose .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 0px 37px 31px 37px;
}

.item__icon-center {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
  width: 51px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 31px 0px 32px;
}

.list__item-center:nth-of-type(1) .item__icon-center {
  background: #02897a;
}

.list__item-center:nth-of-type(2) .item__icon-center {
  background: #4d8dff;
}

.list__item-center:nth-of-type(3) .item__icon-center {
  background: #f03e3d;
}

/*media choose*/
@media (min-width: 576px) {
  .list__item-center {
    width: 350px;
  }
}

@media (min-width: 922px) {
  .list__item-center:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  .section--choose {
    background: #f5f5f5;
    padding: 24px 0px 51px;
  }

  .section--choose .list {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*how*/
.section--how {
  padding: 31px 0px 32px;
}

.section--how .container {
  max-width: 1027px;
}

.section--how .title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  margin-bottom: 35px;
}

.how__row {
  margin-bottom: 20px;
}

.how__left {
  margin-bottom: 15px;
}

.how__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.how__item:nth-of-type(2) {
  flex-direction: column;
  margin-bottom: 20px;
}

.how__item:nth-of-type(1) {
  margin-bottom: 20px;
}

.how__right {
  max-width: 432px;
}

.subtitle--small {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  margin: 10px 0px 17px 0px;
}

.section--how .title--small {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
}

.section--how .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.section--how .btn--success {
  padding: 12px 18px 10px 20px;
  letter-spacing: 0.1em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/*media how*/
@media (min-width: 1200px) {
  .section--how {
    padding: 101px 0px 112px;
  }
  .how__item {
    flex-direction: row;
  }

  .section--how .title {
    margin-bottom: 73px;
  }

  .how__row {
    margin-bottom: 70px;
  }

  .how__left {
    margin-bottom: 0px;
  }

  .how__item:nth-of-type(1) {
    margin-bottom: 93px;
  }

  .how__item:nth-of-type(2) {
    flex-direction: row-reverse;
    margin-bottom: 97px;
  }

  .how-pic {
    max-width: fit-content;
  }
}
/*offers*/
.section--offers {
  padding: 37px 0px 0px;
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}

.section--offers .title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  max-width: 537px;
  margin: 0 auto 35px;
}

.offers__table {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.offers__table_item:not(:last-child) {
  margin: 0 0 35px 0;
}

.offers__table_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers__table_item--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background: #ffefef;
  margin-bottom: 27px;
}

.offers__table_item:nth-of-type() .offers__table_item--icon {
  background: #ffefef;
}

.offers__table_item:nth-of-type(2) .offers__table_item--icon {
  background: #f2f6ff;
}

.section--offers .subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
}

.section--offers .description {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #22343d;
  margin: 0;
}

.section--offers .description:nth-of-type(3) {
  margin-bottom: 12px;
}

.btn-outline-success {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

/*media offers*/
@media (min-width: 768px) {
  .offers__table {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .section--offers {
    padding: 37px 0px 15px;
  }

  .section--offers .title {
    margin-bottom: 93px;
  }

  .offers__table {
    flex-direction: row;
  }

  .offers__table_item:not(:last-child) {
    margin-right: 220px;
  }
}

/*page Resources*/
/*business*/
.section--business {
  padding: 30px 0px 0px;
}

.section--business .container {
  display: flex;
  flex-direction: column;
}

.business__left {
  display: flex;
  flex-direction: column;
}

.section--business .title {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #22343d;
  margin-bottom: 5px;
  text-align: center;
}

.section--business .description {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.03em;
  margin-bottom: 22px;
  text-align: center;
}

.email__adress {
  border: 1px solid #eaeaea;
  border-radius: 100px;
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 66px;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 76px;
}

.email__adress-form {
  margin-bottom: 30px;
}

.email--adress-text {
  border: none;
  outline: none;
  margin: 25px 0px 0px 23px;
  letter-spacing: -0.03em;
}

.section--business .btn--success {
  border-radius: 100px;
  padding: 14px 19px 10px 23px;
  margin-right: 10px;
}

.section--business form {
  filter: none;
}

.business__join {
  display: flex;
  align-items: center;
}

.cout {
  color: #02897a;
}

.business__join--icon {
  margin-right: 4px;
}

.business__join--description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #22343d;
  letter-spacing: 0.02em;
}

.business__right {
  margin: auto;
}

.business__right--icon {
  max-width: 100%;
}

/*media business*/
@media (min-width: 576px) {
  .section--business .description {
    max-width: 516px;
    margin: 0 auto 20px;
  }

  .email__adress {
    width: 469px;
    flex-direction: row;
    margin: 0 auto 20px;
  }

  .business__join {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .section--business {
    padding: 95px 0px 0px;
  }

  .section--business .container {
    flex-direction: row;
  }

  .section--business .title {
    text-align: start;
    margin-bottom: 24px;
  }

  .section--business .description {
    text-align: start;
    margin: 0 0 23px;
  }

  .email__adress {
    width: 468px;
    flex-direction: row;
    margin: 0 0 20px;
  }

  .email__adress-form {
    margin-bottom: 21px;
  }

  .business__join {
    justify-content: flex-start;
  }

  .business__right {
    position: relative;
    left: 52px;
    top: -25px;
  }

  .business__right--icon {
    max-width: fit-content;
  }
}

/*stories*/
.section--stories {
  padding: 0px 0px 15px;
}

.section--stories .title {
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  margin: -3px 0px 0px 0px;
  letter-spacing: 0.02em;
}

.section--stories .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin: 9px 0px 32px 0px;
  letter-spacing: 0.01em;
}

.section--stories .content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -23px;
  justify-content: space-around;
}

.section--stories .profile {
  margin: 0 0 33px;
  border: 1px solid #dedede;
  border-radius: 8px;
}

.description-autor {
  margin: 18px 0px 12px 24px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #22343d;
}

.btn--light .description {
  margin-right: 8px;
}

.btn--light:hover {
  background-color: #efefef;
}

.btn--light:hover .more--icon {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(33%) sepia(63%) saturate(7124%)
    hue-rotate(163deg) brightness(98%) contrast(98%);
}

/*media stories*/
@media (min-width: 576px) {
  .section--stories .profile:nth-of-type(2),
  .section--stories .profile:nth-of-type(3) {
    display: block;
  }
}

@media (min-width: 1200px) {
  .section--stories {
    padding: 0px 0px 15px;
  }
}

/*contact*/
.section--contact {
  padding: 0px 0px 28px;
}

.section--contact .title {
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  margin-bottom: 28px;
}

.section--contact .subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  max-width: 100%;
  margin: 0 auto 64px;
}

.section--contact .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
}

.section--contact .content--icon {
  display: flex;
  margin: auto;
}

.section--contact .social {
  margin-left: 0;
  width: 50px;
  height: 50px;
}

.social__icon {
  width: 30px;
  height: 30px;
}

.section--contact .social:not(:last-child) {
  margin-right: 21px;
}

.form__send {
  background: #ffffff;
  border-radius: 20px;
  max-width: 868px;
  margin: auto;
  border: none;
}

.form__send .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.1px;
  margin: 51px 0px 44px;
}

.form__send-text {
  height: 51px;
  padding: 0 0 0 15px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  display: flex;
  margin: 0 auto 48px;
  letter-spacing: -0.05em;
  font-size: 15px;
  width: -webkit-fill-available;
}

.form__send-email {
  height: 51px;
  padding: 0 0 0 15px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  display: flex;
  margin: 0 auto 45px;
  letter-spacing: -0.05em;
  font-size: 15px;
  width: -webkit-fill-available;
}

.form__send-message {
  height: 171px;
  padding: 15px 0 0 15px;
  margin: 0 auto 45px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  display: flex;
  letter-spacing: -0.04em;
  font-size: 15px;
  resize: none;
  width: -webkit-fill-available;
}

.contact__top {
  margin-bottom: 48px;
}

.form__send .btn--success {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 52px;
  border-radius: 35px;
  padding: 17px 51px 17px 51px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

/*media contact*/
@media (min-width: 1200px) {
  .section--contact {
    padding: 125px 0px 28px;
  }

  .section--contact .subtitle {
    width: 332px;
  }

  .form__send {
    border: 1px solid #dddddd;
  }

  .form__send-text {
    width: 745px;
    padding-left: 19px;
    max-width: none;
  }

  .form__send-email {
    width: 745px;
    padding-left: 19px;
    max-width: none;
  }

  .form__send-message {
    width: 745px;
    padding: 20px 0 0 19px;
    margin: 0px 0 45px 51px;
    max-width: none;
  }

  .form__send .btn--success {
    margin: 0 0 52px 52px;
  }
}
