html[data-theme="light"] {
  --bg: #ffffff;
  --switch-color: #02897a;
  --color-heading: #22343d;
  --color-text: #22343d;
  --color-btn: #173a56;
  --color-logo: #173a56;
  --bg-image--product: url(../img/product.png);
  --bg-image--process: url(../img/process.png);
  --switch-icon: url(../svg/triger.svg) no-repeat;
}

html[data-theme="dark"] {
  --bg: #1f2e35;
  --switch-color: #0077ff;
  --color-heading: #ffffff;
  --color-text: #ffffff;
  --color-btn: #ffffff;
  --color-logo: #ffffff;
  --bg-image--product: url(../img/product_dark.png);
  --bg-image--process: url(../img/process_dark.png);
  --switch-icon: url(../svg/triger3.svg) no-repeat;
}

/*основные стили*/
body {
  background-color: var(--bg);
  /*  --font-color: #22343d;*/
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

html,
body {
  font-family: "Poppins", "Arial", sans-serif;
  /*  color: var(--font-color);*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0%;
}

.container {
  max-width: 1108px;
  margin: 0 auto;
  padding: 0px 15px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: var(--color-text);
}

.subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: var(--color-text);
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text);
}

.subtitle--spacebottom {
  margin-bottom: 12px;
}

.pic {
  margin: 0 auto;
  display: flex;
  max-width: 100%;
}

@media (min-width: 576px) {
  .pic {
    width: 27em;
  }
}

@media (min-width: 768px) {
  .pic {
    max-width: 27em;
  }
}

@media (min-width: 1200px) {
  .pic {
    width: 100%;
    max-width: fit-content;
  }
}

@media (max-width: 576px) {
  .profile {
    width: auto;
  }

  .price__table--col {
    width: auto;
  }

  .collumn__item {
    width: auto;
  }

  .e-mail {
    padding: 12px 0px 11px 0px;
  }

  .content--icon {
    max-width: 100%;
  }

  .expert.expert__right {
    flex-direction: column-reverse;
  }

  .expert.expert__left {
    flex-direction: column-reverse;
  }
}




/*button*/
.btn {
  cursor: pointer;
}

.btn--success {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #02897a;
  border-radius: 4px;
  border: #02897a;
  margin-right: 22px;
  padding: 11px 23px 8px 25px;
  letter-spacing: 0.02em;
}

.btn--triger {
  background: #f3f3f3;
  border-radius: 100px;
  border: #f3f3f3;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./assets/svg/triger.svg) no-repeat;
  background-size: contain;
  border: 5px solid #ffffff;
}

.btn--outline-primary {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-btn);
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: transparent;
  margin-right: 24px;
  padding: 9px 22px 8px 23px;
  letter-spacing: 0.02em;
}

.btn-outline-success {
  background-color: transparent;
  border: transparent;
  font-weight: 600;
  font-size: 16px;
  text-decoration-line: underline;
  color: #02897a;
}

.btn--group {
  display: flex;
  justify-content: center;
}

/*переключатель на тёмное*/
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

/*color:  var(--color-text);*/

/*.btn--triger {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--switch-color);
  float: right;
  border-radius: 100px;
  position: relative;
}

.btn--triger:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}*/

input:checked+.menu__item--active {
  color: var(--color-text);
}

/*input:checked + .btn--triger:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.btn--triger:active:after {
  width: 45px;
}
.header .btn--triger {
  display: none;
}*/

/*Header*/
.header {
  padding: 19px 0px 0px;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0px 16px 0px 0px;
}

.header .logo__name {
  font-family: "Poppins Bold";
  font-size: 30px;
  line-height: 28px;
  color: var(--color-logo);
  text-decoration: none;
  padding-bottom: 4px;
  margin: 0;
}

.header .menu {
  display: none;
}

.menu__item.menu__item--active {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
}

.menu__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  color: var(--color-text);
}

.menu__item:not(:last-child) {
  margin-right: 26px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header .btn--outline-primary {
  display: none;
}

.header .btn--success {
  display: none;
}

/*.switch__icon {
  background: var(--switch-icon);
}*/

.header .menu-triger--active {
  position: relative;
  width: 28px;
  height: 15px;
  top: -6px;
  display: block;
}

.header span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #02897a;
  border-radius: 4px;
}

.header .menu-trigger span:nth-of-type(2) {
  top: 20px;
}

.header .menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

/*media header*/
@media (max-width: 576px) {
  .header .logo__name {
    margin: 0;
  }
}

@media (min-width: 576px) {
  .header .btn--outline-primary {
    display: block;
  }

  .header .btn--success {
    display: block;
  }
}

@media (min-width: 1200px) {
  .header .logo__name {
    margin-right: 238px;
  }

  .header .menu {
    display: block;
  }

  .header .btn--triger {
    display: flex;
  }

  .header .menu-triger--active {
    display: none;
  }
}

@media (min-width: 1400px) {}

/*Hero*/
.section--hero .container {
  display: flex;
  max-width: 1080px;
  flex-direction: column;
  align-items: center;
  flex-direction: column-reverse;
}

.section--hero {
  padding: 44px 0px 0px 0px;
}

.hero__left {
  display: flex;
  flex-direction: column;
}

.section--hero .title {
  font-family: "Poppins";
  margin: 13px 0px 0px;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: center;
}

.section--hero .description {
  margin-bottom: 55px;
  text-align: center;
}

.section--hero .btn--success {
  padding: 17px 40px 12px 40px;
  margin: 0;
}

.section--hero .btn-outline-success {
  display: flex;
  align-items: center;
}

.btn-outline-success img {
  margin-right: 8px;
}

.btn__description {
  letter-spacing: 0.02em;
  font-size: 16px;
  padding-top: 3px;
}

.hero__right {
  position: relative;
}

/*media hero*/
@media (max-width: 576px) {
  .section--hero .title {
    text-align: center;
  }

  .section--hero .description {
    text-align: center;
  }

  .hero__right {
    left: 0;
  }

  .section--hero .btn--success {
    margin-right: 22px;
  }
}

@media (min-width: 576px) {
  .section--hero .description {
    width: 550px;
  }

  .btn--group {
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .section--hero .description {
    width: 610px;
  }
}

@media (min-width: 1200px) {
  .section--hero .container {
    flex-direction: column;
    align-items: center;
    flex-direction: row;
  }

  .hero__left {
    width: 435px;
  }

  .section--hero .description {
    text-align: left;
    width: auto;
  }

  .section--hero .title {
    text-align: left;
  }

  .btn--group {
    justify-content: flex-start;
  }

  .section--hero .btn--success {
    margin-right: 25px;
  }

  .hero__right {
    position: relative;
    left: 55px;
    top: -1px;
  }
}

/*product*/

.section--product {
  background: var(--bg-image--product) bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 114px 0px 97px 0px;
}

.section--product .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section--product .title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  width: 534px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px 0px 67px 0px;
}

.table {
  display: flex;
  margin-bottom: 18px;
  width: 100%;
}

.table_col {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 244px;
}

.table_col:not(:last-child) {
  margin-right: 46px;
}

.table_col:nth-of-type(1) .col__item {
  background: #02897a;
}

.table_col:nth-of-type(2) .col__item {
  background: #4d8dff;
}

.table_col:nth-of-type(3) .col__item {
  background: #740a76;
}

.table_col:nth-of-type(4) .col__item {
  background: #f03e3d;
}

.col__item {
  border-radius: 19px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 30px;
}

.section--product .subtitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 0px;
  letter-spacing: 0.02em;
  margin-bottom: -2px;
}

.section--product .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.01em;
}

.section--product .btn--success {
  padding: 14px 34px 15px 34px;
  margin: auto;
}

/*media product*/

@media (max-width: 576px) {
  .section--product .title {
    width: auto;
  }

  .table {
    flex-direction: column;
    align-items: center;
  }

  .table_col {
    margin: 0;
    align-items: center;
  }

  .table_col:not(:last-child) {
    margin: 0;
    align-items: center;
  }
}

@media (min-width: 576px) {
  .table {
    justify-content: center;
  }

  .table_col:nth-of-type(3),
  .table_col:nth-of-type(4) {
    display: none;
  }

  .table_col:not(:last-child) {
    align-items: center;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .table_col:nth-of-type(3) {
    display: flex;
  }
}

@media (min-width: 992px) {
  .table_col {
    margin: 0;
    align-items: center;
  }

  .table_col:nth-of-type(4) {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .table {
    justify-content: space-between;
  }

  .table_col,
  .table_col:not(:last-child) {
    align-items: start;
  }

  .section--product .description {
    text-align: left;
  }
}

/*managment*/
.section--managment .container {
  display: flex;
  flex-direction: column-reverse;
}

.man__left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.section--managment .title {
  font-family: "Poppins";
  font-size: 32px;
  line-height: 48px;
  margin: 0px 0px 24px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.section--managment .subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.section--managment .subtitle--small {
  margin: 0px 0px 7px;
}

.section--managment .description {
  font-size: 16px;
  line-height: 26px;
  margin: 0px 0px 30px;
  text-align: left;
}

/*mdeia managment*/
@media (max-width: 576px) {
  .section--managment {
    padding: 20px 0px 0px;
  }

  .man__left {
    width: auto;
  }

  .man__right {
    left: 0;
    top: 0;
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .man__right {
    padding: 20px 0px 20px 0px;
  }
}

@media (min-width: 768px) {
  .man__left {
    width: 459px;
    align-items: center;
    margin: auto;
  }

  .section--managment .description {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .section--managment {
    padding: 161px 0px 0px 0px;
  }

  .section--managment .container {
    flex-direction: row;
  }

  .man__left {
    align-items: start;
    margin: 0;
  }

  .man__right {
    position: relative;
    left: 111px;
    top: -42px;
  }

  .section--managment .description {
    text-align: left;
  }
}

/*customer*/
.section--customer .container {
  display: flex;
  flex-direction: column;
}

.customer__right {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.section--customer .title {
  font-size: 32px;
  line-height: 48px;
  margin: 0px 0px 24px;
  letter-spacing: 0.02em;
}

.cus__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 6px;
  letter-spacing: 0.01em;
}

.section--customer .description {
  margin: 0px 0px 31px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.customer__wraper {
  display: flex;
  align-items: center;
}

.customer__item .customer__wraper:nth-of-type(1) {
  margin: 0px 0px 34px 0px;
}

.customer__item .customer__wraper:nth-of-type(2) {
  margin: 0px 0px 34px 0px;
}

.customer__icon {
  width: 16px;
  height: 12px;
  border-radius: 13.8542px;
  padding: 12px 10px 13px 10px;
  margin-right: 29px;
}

.customer__icon.customer__icon--yellow {
  background: #ff9900;
}

.customer__icon.customer__icon--red {
  background: #f03e3d;
}

.customer__icon.customer__icon--blue {
  background: #4d8dff;
}

.customer__description {
  margin: 0;
  line-height: 24px;
}

/*mdeia customer*/
@media (max-width: 576px) {
  .section--customer {
    padding: 0px;
  }

  .customer__left {
    left: 0;
    top: 0;
    margin: 0px 0px 20px;
  }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
  .customer--pic {
    margin-bottom: 40px;
  }

  .customer__right {
    width: 442px;
    align-items: center;
    margin: auto;
  }

  .section--customer .description {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .section--customer {
    padding: 126px 0px 0px 0px;
  }

  .section--customer .container {
    flex-direction: row;
  }

  .customer__left {
    position: relative;
    top: -38px;
    left: -4px;
    margin-right: 91px;
  }

  .customer__pic {
    margin-bottom: 0px;
  }

  .customer__right {
    align-items: start;
    margin: 0;
    max-width: 442px;
  }

  .section--customer .description {
    text-align: left;
  }
}

/*collaborative*/
.section--collaborative {
  padding: 20px 0px 0px;
}

.section--collaborative .container {
  display: flex;
  flex-direction: column-reverse;
}

.coll__left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.section--collaborative .title {
  font-family: "Poppins";
  font-size: 32px;
  line-height: 48px;
  margin: 0px 0px 24px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.section--collaborative .subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.section--collaborative .subtitle--small {
  margin: 0px 0px 6px;
}

.section--collaborative .description {
  font-size: 16px;
  line-height: 26px;
  margin: 0px 0px 29px;
}

/*media collaborative*/
@media (max-width: 576px) {
  .coll__left {
    width: auto;
  }

  .coll__right {
    left: 0;
    top: 0;
    margin-bottom: 20px;
  }

  .section--collaborative {
    padding: 30px 0px 0px;
  }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
  .section--collaborative {
    padding: 40px 0px 0px;
  }

  .coll__left {
    align-items: center;
    margin: auto;
    width: 459px;
  }

  .coll__right {
    margin-bottom: 20px;
  }

  .section--collaborative .description {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .section--collaborative {
    padding: 92px 0px 130px 0px;
  }

  .section--collaborative .container {
    flex-direction: row;
  }

  .coll__left {
    margin: 0;
    align-items: start;
    width: 459px;
  }

  .section--collaborative .description {
    text-align: left;
  }

  .coll__right {
    position: relative;
    left: 111px;
    top: -21px;
    margin: 0;
  }
}

/*process*/
.section--process {
  background: var(--bg-image--process) no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 50px 0px 63px;
}

.section--process .container {
  display: flex;
  flex-direction: column;
  max-width: 963px;
}

.process__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
}

.section--process .title {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.02em;
  margin-bottom: 17px;
}

.section--process .description {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 542px;
  letter-spacing: 0.01em;
  margin: auto;
  margin-bottom: 14px;
}

.process__row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 47px;
  flex-direction: column;
}

.row__right {
  display: flex;
  flex-direction: column-reverse;
}

.expert {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ability {
  text-align: center;
}

.expert__left:first-child .exp__pic {
  margin-right: 15px;
}

.expert__left:last-child .exp__pic {
  margin-left: 15px;
}

.expert__left:last-child .ability {
  padding: 10px 15px 10px 15px;
  margin: 0px 0px 0px 38px;
}

.expert__right:first-child .ability {
  padding: 10px 15px 10px 15px;
  margin: 0px 0px 0px 37px;
}

.expert__right:last-child .ability {
  letter-spacing: 0.01em;
  padding: 10px 15px 10px 15px;
  margin: 0px 15px 0px 0px;
}

.ability {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(86, 117, 146, 0.1);
  border-radius: 27px;
  padding: 3px 24px 15px 25px;
}

.section--process .btn--success {
  font-weight: 700;
  margin: auto;
  padding: 15px 28px 13px 29px;
}

/*media process*/
@media (max-width: 768px) {
  .section--process .description {
    width: auto;
  }

  .row__left .expert {
    margin: auto;
  }

  .expert__left:last-child .exp__pic {
    margin-left: 15px;
  }

  .expert__left:first-child .ability {
    padding: 10px 15px 10px 15px;
    margin: 0px 12px 0px 0px;
  }

  .row__right .expert {
    margin: auto;
  }

  .expert__right:first-child .exp__pic {
    margin-left: 15px;
  }

  .expert__right .ability {
    padding: 10px 15px 10px 15px;
  }

  .expert__right:last-child .exp__pic {
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  .process__row {
    flex-direction: row;
  }

  .row__left {
    margin-right: 15px;
  }

  .expert__right:first-child .ability {
    margin: 0px 15px 0px 21px;
  }

  .expert__left:first-child .ability {
    padding: 10px 15px 10px 15px;
    margin: 0px 4px 0px 0px;
  }

  .row__right {
    flex-direction: column;
  }

  .expert__right:last-child .ability {
    letter-spacing: 0.01em;
    padding: 10px 15px 10px 15px;
    margin: 0px 0px 0px 15px;
  }
}

@media (min-width: 1200px) {

  /*  .section--process {
    background-size: cover;
  }
*/
  .process__row {
    flex-direction: row;
  }

  .row__right {
    display: flex;
    flex-direction: column;
  }

  .row__left .expert:first-child {
    margin: 0px 138px 20px 0px;
  }

  .row__left .expert:last-child {
    margin: 0px 138px 0px 0px;
  }

  .row__right .expert:first-child {
    margin: 0px -9px 20px 0px;
  }

  .row__right .expert:last-child {
    margin: 0px -29px 0px 0px;
  }

  .expert__left:last-child .exp__pic {
    margin-left: 27px;
  }

  .expert__left:first-child .ability {
    padding: 0px 11px 15px 25px;
    margin: 0;
  }

  .expert__left:last-child .ability {
    padding: 0px 19px 15px 0px;
    margin: 0px 0px 0px 42px;
  }

  .expert__right:last-child .ability {
    padding: 0px 9px 15px 21px;
    letter-spacing: 0.01em;
  }

  .expert__right:first-child .ability {
    padding: 3px 36px 15px 15px;
    margin: 0px -3px 0px 0px;
  }
}

/*strategies*/
.section--strategies .title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section--strategies .description {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 0px 0px 33px 0px;
  letter-spacing: 0.01em;
}

.strat__left {
  text-align: center;
}

.strat__right {
  width: 100%;
}

.slider__slide {
  margin-bottom: 20px;
}

.section--strategies .description-autor {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 21px 30px 12px 24px;
  letter-spacing: 0.03em;
}

.content {
  display: flex;
  justify-content: space-between;
}

.profile {
  width: 348px;
  border: 1px solid #dedede;
  border-radius: 8px;
}

.comment {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  margin: 0px 30px 28px 26px;
  letter-spacing: 0.02em;
}

.comment:hover {
  color: #02897a;
  cursor: pointer;
}

.slider__nav-left {
  display: flex;
  justify-content: center;
  display: none;
}

.slider__nav-item {
  width: 16px;
  height: 16px;
  background: #efefef;
  border-radius: 50%;
  border: transparent;
}

.slider__nav-item:hover {
  background: #02897a;
  cursor: pointer;
}

.slider__nav-item:not(:last-child) {
  margin-right: 10px;
}

.slider__nav-left:hover {
  cursor: pointer;
}

/*strategies*/
@media (max-width: 576px) {
  .section--strategies {
    padding: 0px 0px 25px 0px;
  }

  .section--strategies .container {
    width: auto;
  }

  .slider__item-content {
    display: flex;
    justify-content: center;
  }

  .content {
    flex-direction: column;
  }

  .profile:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {

  .profile:nth-of-type(2),
  .profile:nth-of-type(3) {
    display: none;
  }

  .content {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .profile:nth-of-type(2) {
    display: block;
  }

  .profile:first-child {
    margin-right: 15px;
  }
}

@media (min-width: 1200px) {
  .section--strategies {
    padding: 86px 0px 25px 0px;
  }

  .section--strategies .container {
    width: 1110px;
  }

  .strat__left {
    text-align: left;
  }

  .slider__slide {
    margin-bottom: 63px;
  }

  .content {
    flex-direction: row;
    justify-content: space-between;
  }

  .profile:first-child {
    margin-right: 0;
  }

  .profile:nth-of-type(3) {
    display: block;
  }

  .slider__nav-left {
    display: flex;
  }
}

/*price*/
.section--price .container {
  display: flex;
  flex-direction: column;
}

.section--price .title {
  font-size: 34px;
  line-height: 51px;
  margin-bottom: 8px;
  text-align: center;
}

.section--price .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 49px;
}

.price__table {
  display: flex;
  justify-content: space-between;
}

.price__table--col {
  padding: 24px 0px 32px 0px;
  width: 323px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__table--col:hover {
  background-color: #02897a;
  cursor: pointer;
}

.description__tarif {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 8px;
}

.section--price .description {
  margin: 0px 0px 40px;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 40px;
}

.section--price .description {
  margin: 0px 0px 36px;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 40px;
}

.price__information {
  display: flex;
  align-items: center;
  margin-bottom: 41px;
}

.price__money {
  color: #02897a;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.price__month {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #afafaf;
}

.price__icon {
  margin-right: 10px;
}

.price__item {
  margin-bottom: 25px;
}

.price__icon-wraper:not(:last-child) {
  margin: 0px 0px 15px;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.section--price .btn--success {
  padding: 12px 20px 10px 17px;
  margin: 0;
  letter-spacing: 0.04em;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

/*media price*/
@media (max-width: 576px) {
  .section--price {
    padding: 0px;
  }

  .price__table {
    flex-direction: column;
    margin: auto;
  }

  .price__table--col:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .section--price {
    padding: 20px 0px 0px;
  }

  .price__table--col:nth-of-type(2),
  .price__table--col:nth-of-type(3) {
    display: none;
  }

  .price__table--col {
    margin: auto;
  }
}

@media (min-width: 768px) {
  .price__table--col:nth-of-type(2) {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .section--price {
    padding: 126px 0px 50px;
  }

  .price__table--col {
    margin: 0;
  }

  .price__table--col:nth-of-type(3) {
    display: flex;
  }
}

/*say*/
.section--say {
  padding: 50px 0px 20px;
}

.say__header {
  text-align: center;
}

.section--say .title {
  font-size: 34px;
  line-height: 57px;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
}

.section--say .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.3px;
  width: auto;
  margin: auto;
  margin-bottom: 50px;
}

.say__row {
  display: flex;
  justify-content: space-between;
}

.collumn__item {
  width: 300px;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 28px 0px 20px 25px;
}

.item__icon {
  margin-bottom: 13px;
}

.item__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 16px;
}

.client {
  display: flex;
}

.client__logo {
  margin-right: 12px;
}

.name {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: #02897a;
}

.profession {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

/*media say*/
@media (max-width: 576px) {
  .say__row {
    flex-direction: column;
  }

  .collumn__item {
    margin: auto;
  }

  .collumn__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {

  .collumn__item:nth-of-type(2),
  .collumn__item:nth-of-type(3) {
    display: none;
  }

  .say__row {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .collumn__item:nth-of-type(2) {
    display: block;
  }

  .collumn__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .section--say {
    padding: 0px 0px 20px;
  }

  .section--say .subtitle {
    width: 565px;
  }

  .say__row {
    margin: 0;
    justify-content: space-between;
  }

  .collumn__item:nth-of-type(3) {
    display: block;
  }
}

@media (min-width: 1400px) {
  .section--say {
    padding: 100px 0px 20px;
  }

  .collumn__item:not(:last-child) {
    margin-right: 0px;
  }
}

/*join*/
.section--join {
  padding: 61px 15px 20px;
}

.section--join .container {
  display: flex;
  background: #02897a;
  border-radius: 32px;
  max-width: 940px;
  margin: 0 auto;
  flex-direction: column;
}

.join__left {
  width: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 51px 0px 56px 0px;
}

.section--join .title {
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #ffffff;
  margin-bottom: 46px;
  letter-spacing: 0.02em;
}

.section--join .btn--success {
  background: #ffffff;
  border-radius: 8px;
  font-size: 20px;
  line-height: 30px;
  color: #02897a;
  margin: 0;
  padding: 12px 35px 9px 30px;
}

.join--pic {
  max-width: 100%;
}

/*media join*/
@media (max-width: 576px) {
  .section--join .title {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .join__right {
    display: flex;
    justify-content: center;
  }

  .join__pic {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .section--join {
    padding: 141px 0px 20px;
  }

  .section--join .container {
    flex-direction: row;
    width: 968px;
  }

  .join__left {
    padding: 51px 0px 56px 39px;
    width: 510px;
    align-items: start;
    text-align: left;
  }

  .join__pic {
    position: relative;
    top: 2px;
    left: 10px;
    width: auto;
  }
}

/*footer*/
.footer {
  padding: 41px 0px 50px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__left {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 20px;
}

.footer .logo {
  margin: -2px 12px 0px 0px;
}

.footer .logo__name {
  font-family: "Poppins Bold";
  font-size: 30px;
  line-height: 28px;
  color: var(--color-logo);
  text-decoration: none;
  margin: 0;
  padding-top: 2px;
}

.logo__icon {
  width: 32px;
  height: 32px;
  margin-left: 8px;
}

.product {
  display: flex;
  margin-bottom: 20px;
}

.socials {
  display: flex;
  align-items: center;
}

.social {
  background: #edfffc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  margin-left: 7px;
}

.social:not(:last-child) {
  margin-right: 9px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.footer__nav-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav-col:not(:last-child) {
  margin: auto;
  margin-bottom: 20px;
}

.menu--footer-subtitle {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.menu--footer {
  margin-bottom: 10px;
}

.footer .menu__item {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
}

.footer .menu__item--active {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

form {
  margin-bottom: 21px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.footer__deal {
  margin: auto;
  text-align: center;
  margin-bottom: 44px;
}

.footer .subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 32px;
}

.copyright__subtitle {
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

input.e-mail {
  padding: 12px 117px 11px 0px;
}

.footer .btn--success {
  padding: 10px 13px 7px 15px;
}

/*media footer*/
@media (max-width: 576px) {}

@media (min-width: 576px) {}

@media (min-width: 1200px) {
  .footer {
    padding: 121px 0px 50px;
  }

  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 16px;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    margin: 0px 83px 0px 0px;
  }

  .footer__nav {
    display: flex;
    flex-direction: row;
    width: 386px;
    margin: 0px 9px 0px;
  }

  .footer__nav-col {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__nav-col:not(:last-child) {
    margin: 0px 155px 0px 0px;
  }

  .menu--footer-subtitle {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__deal {
    width: 325px;
    margin: 0px -9px 0px 0px;
    text-align: left;
  }

  .footer .subtitle {
    text-align: left;
  }
}